.badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;

    &--green {
        background-color: #37bb49;
    }

    &--blue {
        background-color: #2f18b3;
    }

    &--pink {
        background-color: #c43ead;
    }
}